<div class="message {% if interaction.sender == 'user' %}sent{% else %}received{% endif %}" data-interaction-id="{{ interaction.id }}">
    <div class="message-content">
        {% if interaction.interaction_type == 'telegram' %}
            {% if interaction.sender == 'user' %}
                {% if interaction.user_first_name and interaction.user_last_name%}
                    <p>Telegram: {{ interaction.user_first_name}}{{ interaction.user_last_name }}</p>
                {% elif interaction.user_first_name%}
                    <p>Telegram: {{ interaction.user_first_name}}</p>
                {% elif interaction.user_last_name%}
                    <p>Telegram: {{ interaction.user_last_name}}</p>
                {% else %}
                    <p>Telegram:</p>
                {% endif %}
            {% elif interaction.sender == 'contact'%}
                {% if interaction.contact_phone.phone %}
                    <p>Telegram: {{ interaction.contact_phone.name}}{{ interaction.contact_phone.phone }}</p>
                {% elif interaction.contact_phone.telegram_username %}
                    <p>Telegram: {{ interaction.contact_phone.name}}{{ interaction.contact_phone.telegram_username }}</p>
                {% elif interaction.contact_phone.telegram_id %}
                    <p>Telegram: {{ interaction.contact_phone.name}}{{ interaction.contact_phone.telegram_id }}</p>
                {% endif %}
            {% endif %}
            {% if interaction.telegram_messages.first.delivery_status == 'failed' %}
                <p>{{ interaction.telegram_messages.first.text }}</p>
                <p title="{{ interaction.telegram_messages.first.error_code }}">❗️Помилка</p>
            {% elif interaction.telegram_messages.first.delivery_status == 'delivered'%}
                <p>{{ interaction.telegram_messages.first.text }}</p>
                <p>Доставлено</p>
            {% elif interaction.telegram_messages.first.delivery_status == 'pending'%}
                <p>{{ interaction.telegram_messages.first.text }}</p>
                <p>Надіслано</p>
            {% elif interaction.telegram_messages.first.delivery_status == 'sent'%}
                <p>{{ interaction.telegram_messages.first.text }}</p>
                <p>Надіслано</p>
            {% elif interaction.telegram_messages.first.delivery_status == 'read'%}
                <p>{{ interaction.telegram_messages.first.text }}</p>
                <p>Надіслано</p>
            {% endif %}
        {% elif interaction.interaction_type == 'viber' %}
            {% if interaction.sender == 'user' %}
                {% if interaction.user_first_name and interaction.user_last_name%}
                    <p>Viber: {{ interaction.user_first_name}}{{ interaction.user_last_name }}</p>
                {% elif interaction.user_first_name%}
                    <p>Viber: {{ interaction.user_first_name}}</p>
                {% elif interaction.user_last_name%}
                    <p>Viber: {{ interaction.user_last_name}}</p>
                {% else %}
                    <p>Viber:</p>
                {% endif %}
            {% elif interaction.sender == 'contact'%}
                {% if interaction.contact_phone.phone %}
                    <p>Viber: {{ interaction.contact_phone.name}}{{ interaction.contact_phone.phone }}</p>
                {% endif %}
            {% endif %}
            {% if interaction.viber_messages.first.delivery_status == 'failed' %}
                <p>{{ interaction.viber_messages.first.text }}</p>
                <p title="{{ interaction.viber_messages.first.error_code }}">❗️Помилка</p>
            {% elif interaction.viber_messages.first.delivery_status == 'pending'%}
                <p>{{ interaction.viber_messages.first.text }}</p>
                <p>Очікує</p>
            {% elif interaction.viber_messages.first.delivery_status == 'sent'%}
                <p>{{ interaction.viber_messages.first.text }}</p>
                <p>Надіслано</p>
            {% elif interaction.viber_messages.first.delivery_status == 'delivered'%}
                <p>{{ interaction.viber_messages.first.text }}</p>
                <p>Доставлено</p>
            {% endif %}
        {% elif interaction.interaction_type == 'email' %}
            <p><strong>Email:</strong> {{ interaction.description }}</p>
            <p><small>Від: {{ interaction.contact_email.email|default:"Немає" }}</small></p>
        {% elif interaction.interaction_type == 'call' %}
            <p><strong>Дзвінок:</strong> {{ interaction.description|default:"Дзвінок" }}</p>
            {% if interaction.calls.first.answer_time %}
                <audio controls class="call-recording" preload="none">
                    <source src="{{ interaction.calls.first.recording_link }}" type="audio/mpeg">
                    Ваш браузер не підтримує відтворення аудіо.
                </audio>
            {% endif %}
            {% if interaction.calls.first.answer_time %}
                <button onclick="openCallResultModal({{ interaction.calls.first.id }})" class="btn btn-primary">
                    Оновити результат
                </button>
            {% endif %}
        {% elif interaction.interaction_type == 'system' %}
            {% with task_message=interaction.tasks.first %}
            <p>
                {% if task_message %}
                    <em class="btn btn-info btn-sm task-detail-btn" data-task-id="{{ task_message.task.id }}">{{ interaction.description }}</em>
                {% endif %}
            </p>
        {% endwith %}
        {% endif %}
        <small>{{ interaction.date|date:"d.m.Y H:i" }}</small>
    </div>
</div>